*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/compiler.xml
.idea
/.idea/gradle.xml
/.idea/libraries/
/.idea/markdown-navigator/
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/encodings.xml
/.idea/copyright/

gradle.properties
/build/
